<div class="font-list clearfix">

    <%= link_to typeface_path, :class => 'bombshell-pro' do %>
        <%= image_tag('bombshell-pro.png', alt: 'Description')  %>
        <!-- <img data-interchange="[assets/images/bombshell-small.png, (default)], [/path/to/bigger-image.jpg, (large)]"> -->
    <% end %>

    <%= link_to typeface_path, :class => 'carolyna-pro-black' do %>
        <%= image_tag('carolyna-pro-black.png', alt: 'Description')  %>
        <!-- <img data-interchange="[assets/images/bombshell-small.png, (default)], [/path/to/bigger-image.jpg, (large)]"> -->
    <% end %>

    <%= link_to typeface_path, :class => 'jacques-n-gilles' do %>
        <%= image_tag('jacques-n-gilles.png', alt: 'Description')  %>
        <!-- <img data-interchange="[assets/images/bombshell-small.png, (default)], [/path/to/bigger-image.jpg, (large)]"> -->
    <% end %>

    <%= link_to typeface_path, :class => 'carolyna' do %>
        <%= image_tag('carolyna.png', alt: 'Description')  %>
        <!-- <img data-interchange="[assets/images/bombshell-small.png, (default)], [/path/to/bigger-image.jpg, (large)]"> -->
    <% end %>

</div>