<div class="font-list clearfix">

    <%= link_to typeface_path, :class => 'bombshell' do %>
        <%= image_tag('bombshell-small.png', alt: 'Description', 'data-interchange' => "[#{image_path('bombshell-small.png')}, (large)]")  %>
        <!-- <img data-interchange="[assets/images/bombshell-small.png, (default)], [/path/to/bigger-image.jpg, (large)]"> -->
    <% end %>

    <%= link_to typeface_path, :class => 'bombshell' do %>
        <%= image_tag('bombshell-small.png', alt: 'Description', 'data-interchange' => "[#{image_path('bombshell-small.png')}, (large)]")  %>
        <!-- <img data-interchange="[assets/images/bombshell-small.png, (default)], [/path/to/bigger-image.jpg, (large)]"> -->
    <% end %>

    <%= link_to typeface_path, :class => 'bombshell' do %>
        <%= image_tag('bombshell-small.png', alt: 'Description', 'data-interchange' => "[#{image_path('bombshell-small.png')}, (large)]")  %>
        <!-- <img data-interchange="[assets/images/bombshell-small.png, (default)], [/path/to/bigger-image.jpg, (large)]"> -->
    <% end %>

    <%= link_to typeface_path, :class => 'bombshell' do %>
        <%= image_tag('bombshell-small.png', alt: 'Description', 'data-interchange' => "[#{image_path('bombshell-small.png')}, (large)]")  %>
        <!-- <img data-interchange="[assets/images/bombshell-small.png, (default)], [/path/to/bigger-image.jpg, (large)]"> -->
    <% end %>

</div>